@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --bg-body: #f9fafb;
  --bg-card: #ffffff;
  --text-color: #1a1a1a;
  --border-color: #e5e7eb;
  --navbar-bg: #0d6efd; /* Primary color for navbar */
  --navbar-text: white;
  --bg-skeleton: #e5e7eb; /*global skeleton light colors*/
  --color-primary: #0d6efd;
  --color-danger: #dc3545;
}
[data-bs-theme='dark'] {
  --bg-body: #0f172a;
  --bg-card: #1e293b;
  --text-color: #f8f9fa;
  --border-color: #a2a6d8;
  --navbar-bg: #0a58ca; /* Darker primary for dark mode */
  --navbar-text: white;
  --bg-skeleton: #334155; /*global skeleton dark colors*/
  --color-primary: #0a58ca;
  --color-danger: #b02a37;
}

.containerMainPage {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 0 15px; */
  padding: 1rem 15px;
}

/* .cardMainPage {
  background-color: var(--bg-card);
  border-color: var(--border-color);
} */

html,
body,
#__next {
  background-color: var(--bg-body) !important;
  color: var(--text-color) !important;
  min-height: 100vh;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.createSpinnerGlobal {
  margin-right: 0.5rem;
}
.createSpinnerGlobal.spinner-border {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@layer components {
  .alert {
    @apply p-4 mb-4 rounded-lg border;
  }

  /* Danger alert */
  .alert-danger {
    @apply bg-red-100 border-red-200 text-red-800;
  }
  [data-bs-theme='dark'] .alert-danger {
    @apply bg-red-900/30 border-red-700 text-red-100;
  }

  /* Info alert */
  .alert-info {
    @apply bg-blue-100 border-blue-200 text-blue-800;
  }
  [data-bs-theme='dark'] .alert-info {
    @apply bg-blue-900/30 border-blue-700 text-blue-100;
  }

  /* Success alert */
  .alert-success {
    @apply bg-green-100 border-green-200 text-green-800;
  }
  [data-bs-theme='dark'] .alert-success {
    @apply bg-green-900/30 border-green-700 text-green-100;
  }
}
